<html>
<head>
    <title>Περικλής</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
<div class="ui gray inverted menu">
    <div class="ui container">
        <div class="header item"><i class="university icon"></i>Περικλής</div>
        <a href="/" class="item">Αρχική</a>
        <a href="/new" class="item"><i class="paper plane outline icon"></i>Νέο Ζήτημα</a>
        <a href="/log" class="item"><i class="child icon"></i>Ο λογαριασμός σας</a>
    </div>
    <div class="ui menu">
        <div>
            <div class="ui icon input">
                <input type="text" placeholder="Αναζήτηση...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
</div>
