<% include ./partials/header %>

<div class="ui equal width form container segment">
    <div class="fields">
        <div class="field">
            <label>Όνομα Χρήστη</label>
            <input type="text" placeholder="Όνομα Χρήστη">
        </div>
        <div class="field">
            <label>Κωδικός</label>
            <input type="password">
        </div>
    </div>
    <div class="fields">
        <div class="field">
            <label>Όνομα</label>
            <input type="text" placeholder="Όνομα">
        </div>
        <div class="field">
            <label>Πατρώνυμο</label>
            <input type="text" placeholder="Πατρώνυμο">
        </div>
        <div class="field">
            <label>Επίθετο</label>
            <input type="text" placeholder="Επίθετο">
        </div>
    </div>
    <a href="/"><button class="ui inverted blue button">Υποβολή</button></a>
</div>


<% include ./partials/footer %>