<% include ./partials/header %>

<div class="ui container">
    <h1 class="ui header">Καλώς Ήρθατε στην σελίδα ........</h1>
    <h4>Μια προσπάθεια εφαρμογής της Άμεσης Δημοκρατίας στην σύγχρονη εποχή</h4>
</div>


<% include ./partials/footer %>